* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans";
    line-height: 125%;
}

:root {
    font-size: 16px;
    --branco: #ffffff;
    --verde: #74C69D;
    --cinza: #212529;
    --verde_escuro: #00420C;
    --verde_claro: #2f9e41;
    --branco_gelo:#EEEEEE;
}

.container-grid {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

.header {
    grid-area: header;
    display: flex;
    background-color: var(--verde_escuro);
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.topo-header {
    display: flex;
    justify-content: space-around;

}

#logo-tads {
    display: flex;
    align-items: center;
}

#lista-header {
    align-content: center;
}

#logo-tads h1 {
    color: var(--branco);
    font-size: 2rem;
    font-weight: 400;
    padding-left: 1rem;
}

#lista-header ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}


#lista-header a:hover {
    background-color: var(--verde_claro);
    color: var(--branco);

}

#lista-header a {
    text-decoration: none;
    color: var(--branco);
    font-size: 1rem;
    font-family: "Work Sans";
    font-weight: 350;
    font-style: bold;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.label-menu,
.checkbox,
.menu {
    display: none;
}

.section-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
}

.texto-section1 {
    display: flex;
    flex-direction: column;
    width: 26rem;
    justify-content: center;
    color: var(--branco);
    gap: 1rem;
}

.texto-section1>h3 {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 5px;
}

.texto-section1>h2 {
    font-size: 2.5rem;
    font-family: "Crimson Text", system-ui;
}

.texto-section1>p {
    font-size: 0.9375rem;
    font-weight: 200;
}

.texto-section1>button {
    font-size: 1rem;
    border: none;
    align-self: flex-start;
    padding: 0.7rem 2rem;
    border-radius: 5px;
    background-color: var(--branco_gelo);
    font-weight: 600;
    
}

.texto-section1>button:hover {
    width: 100%;
    
}


.imagem-section-1>img {
    width: 100%;
    object-fit: contain;
}

.section2 {
    display: flex;
    text-align: center;
    flex-direction: column;
    flex: 1;
    gap: 1.5rem;
    margin-top: 1rem;
}

.section2>h3 {
    line-height: 125%;
    letter-spacing: 5px;
    font-size: 0.9375rem;
    color: var(--verde_escuro);
}

.section2>h2 {
    font-family: "Crimson Text", system-ui;
    font-size: 2rem;
}

.section2>p {
    font-weight: 400;
}

.imagens-section2{
    display: flex;
    gap: 3rem;
    list-style-type: none;
    justify-content: center;
    padding: 1rem 0rem;
}

.section2>button {
    color: var(--branco);
    align-self: center;
    background-color: var(--cinza);
    font-size: 1rem;
    padding: 0.7rem 2rem;
    border: none;
    border-radius: 5px;
    font-weight: 400;
}

.section3{
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.section3-texto{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40%;
}

.section3 > img{
    width: 40%;
}

.section3-texto>h2 {
    font-family: "Crimson Text", system-ui;
    font-size: 2rem;
    
}

.section3-texto>p {
    font-weight: 400;
    font-size: 0.9375rem
}

.section3-texto>button {
    color: var(--branco);
    align-self: center;
    background-color: var(--cinza);
    font-size: 1rem;
    padding: 0.7rem 2rem;
    border: none;
    border-radius: 5px;
    font-weight: 400;
    align-self: flex-start;
}

.section4{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.section4-texto{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40%;
}

.section4 > img{
    width: 40%;
}

.section4-texto>h2 {
    font-family: "Crimson Text", system-ui;
    font-size: 2rem;
}

.section4-texto>p {
    font-weight: 400;
    font-size: 0.9375rem;
}

.section4-texto>button {
    color: var(--branco);
    align-self: center;
    background-color: var(--cinza);
    font-size: 1rem;
    padding: 0.7rem 2rem;
    border: none;
    border-radius: 5px;
    font-weight: 400;
    align-self: flex-start;
}

.section5 {
    padding-top: 1rem;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
    padding-bottom: 2rem;
}

.textos {
    width: 60%;
    align-self: center;
}

.section5>h3 {
    font-size: 1rem;
    letter-spacing: 5px;
    color: var(--verde_escuro);
}

.section5>h2 {
    font-family: "Crimson Text", system-ui;
    font-size: 2rem;
}

.cards {
    display: flex;
    gap: 2rem;
    justify-content: center;
    
}

#imagem2{
    width: 83.2px;
}

.card2{
    width: 20rem;
}

.card-section {
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 13rem;
    padding-bottom: 6rem;
}

.card-section h3 {
    padding-left: 1rem;
    font-size: 1.25rem;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: 600;
    text-align: left;
    font-family: "Crimson Text", system-ui;
}

.card-section p {
    padding: 1rem;
    font-size: 0.875rem;
    font-weight: 400;
    text-align: left;
    font-family: "Crimson Text", system-ui;
}

.card-section>img {
    width: 40%;
}

.section5>button {
    color: var(--branco);
    font-size: 1rem;
    align-self: center;
    padding: 0.7rem 2rem;
    border-radius: 5px;
    background-color: var(--cinza);
    border: none;
    font-weight: 600;
}

.footer {
    grid-area: footer;
    background-color: var(--verde_escuro);
    justify-content: space-around;
    padding: 2rem;
    display: flex;
    width: 100%;
}

.footer>p {
    color: var(--branco);
    font-weight: 400;
    font-size: 0.9375rem;
}

.footer>ul {
    display: flex;
    gap: 1rem;
    list-style-type: none;
}


@media screen and (max-width: 375px) {

    .container-grid {
        display: grid;
        grid-template-areas:
            "header"
            "main"
            "footer"
        ;
        width: 100%;
    }

    html,
    body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    body {
        overflow-x: hidden;

    }

    #lista-header>ul {
        display: none;
    }

    #logo-tads>h1 {
        font-size: 1rem;
    }

    .texto-main {
        align-items: center;
        text-align: center;
        line-height: 150%;
    }

    .menu {
        display: block;
        position: absolute;
        top: 6rem;
        left: 0;
        text-align: center;
        width: 100%;
        height: 0;
        z-index: 100;
        background-size: cover;
        background-color: var(--verde_escuro);
        transition: 0.5s;
        visibility: hidden;
        overflow-y: hidden;
    }

    .checkbox:checked~.menu {
        visibility: visible;
        height: calc(600vh);
        overflow: hidden;
    }

    .menu a {
        border-bottom: 0.2rem solid black;
        font-size: 3rem;
        text-decoration: none;
        color: var(--branco);
    }

    .menu li {
        padding: 1rem;
    }

    .label-menu {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: var(--branco);
        padding-block: 1rem;
        cursor: pointer;
    }

    #hamburguer {
        font-size: 3rem;
    }

    .section-1 {
        flex-direction: column-reverse;
        gap: 1rem;
    }

    .texto-section1 {
        width: 80%;
    }

    .section3{
        flex-direction: column;
    }

    .section3-texto{
        width: 80%;
    }

    .section3 > img{
        width: 100%;
    }

    .section4{
        flex-direction: column-reverse;
    }

    .section4-texto{
        width: 80%;
    }

    .section4 > img{
        width: 100%;
    }

    .cards{
        flex-direction: column;
        align-items: center;
    }

    .imagens-section2{
        flex-direction: column;
    }

    .footer {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .footer>ul>li>img {
        width: 100%;
    }

    .footer>ul {
        gap: 1rem;
    }

    .footer>p {
        font-size: 1rem;
        text-align: center;

    }
}